@model MobileStore.Data.Models.Review
@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
@{

}


@foreach (var item in ViewBag.Review)
{

    <div class="card-comment" data-id="@item.ReviewId" style="text-align:left">
        <img class=" rounded-circle img-sm"  style="width:40px; height:50px;"  src="https://www.choicemedwaste.com/wp-content/uploads/default-user-avatar-dc6f2da9-300x300.gif" alt="User Image" style="float:left; padding-right:4px">

        <div class="comment-text">
            <span class="username">
                @item.Username
                <span class="text-muted float-left"> @item.Sent</span>
            </span>
            @item.Content
        </div>
        @*<footer>
            <a class="reply-link" asp-route-id="@item.CommentID">Reply</a>
        </footer>*@
    </div>
    //var children = Model.Where(x => x.ParentId == item.CommentID).ToList();
    // if (children.Count() > 0)
    // {
    //  <ul data-parentid="@item.CommentID" class="replies">
            @*@RenderComment(children);*@
    // </ul>
    //}
}
